        .Div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 200px; 
            background-color: lightblue; 
        }


        .div {
            width: 30px; 
            height: 30px;
            background-color: red; 
        }




