    /*  შექმენით 3x3 კონტეინერი, სადაც გექნებათ სამი ფერადი ელემენტი (div), 
    შემდეგ ეცადეთ რომ ეს ელემენტები grid-area-ს მეშვეობით კონტეინერში სასურველი 
    ადგილას გადაიტანოთ, გამოიყენეთ z-index. */

    .container {
        display: grid;
        grid-template-columns: 80px 80px 80px;
        grid-template-rows: 80px 80px 80px;
    }
    .item1 {
        background-color: lightgreen;
        grid-area: 1/1/2/2;
        z-index: 2;
    }
    .item2 {
        background-color: lightskyblue;
        grid-area: 2/3/3/3;
        z-index: 1;
    }
    .item3 {
        background-color: lightsalmon;
        grid-area: 3/1/4/2;
        z-index: 3;
    }
