h1{ 
    color: rgba(45, 106, 218, 0.89);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-size: 100px; 
    display: inline-block;
    margin-bottom: 0%;
    margin-top: 0%;

}
p{margin: 0px 0px 0px 0px;}
form{
    border-radius: 20px 20px 20px 20px; 
    border: 2px solid rgb(255, 255, 255) ; 
    align-items: center ; 
    display: inline-block;  
    size: 100px;
    align-items: center;
    box-shadow: 5px 5px 30px rgb(207, 203, 203);
    border-radius: 5px;
    padding: 10px;
    flex-direction: row;
    margin-left: 800px;
    justify-items: center;
    margin-bottom: 1000px;
    padding-bottom: 15px;
    padding-top: 15px;


    
}
input
    { 
    padding: 10px;
    margin-bottom:45px ;
    padding-bottom: 15px;
    font-size: 20px;
    width: 360px;
    border-radius: 20px 20px 20x 20px;
}

a{  
    text-align: center;
    align-items: center;
    color: white;  
    border-radius: 15px 15px 15px 15px;
    padding: 1px 10px;
    display: flex;
    margin-bottom: 5px;
    text-decoration: none;size: 100px;
}

div{
    display: inline;
    margin-left: 520px;
    flex-direction: row;
    font-size: 40px;
}

body{font-size: 20