tr{
    border: 5px solid rosybrown;
    border-collapse: collapse;
}

th{
    border: 5px solid rosybrown;
    border-collapse: collapse;
}

td{
    border: 5px solid rosybrown;
    border-collapse: collapse;
}