nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img4{
    width: 300px;
    height: 300px;

}

#img1{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

