h1{
    color: rgb(rgb(233, 14, 14));
}
h2{
    color:(rgb(0, 0, 0))
}
h3{
    color:(rgb(223, 9, 223))
}
h4{
    color:(rgb(233, 19, 19));
}

#m{
    width: 10%;
    height: 10%;
}
#mm{
    width: 20%;
    height: 20%;
}
#mmm{
    width: 30%;
    height: 30%;
}
#mmmm{
    width:40% ;
    height: 40%;
}
#mmmmm{
    width: 50%;
    height: 60%;
}
