* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #f4ede7;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9d948;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-links a {
  margin: 0 1rem;
  color: #111;
  text-decoration: none;
  font-weight: 500;
}



.hero {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1606813909355-bdb0bff992a3?auto=format&fit=crop&w=1500&q=80")
    no-repeat center center/cover;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  padding: 2rem;
  position: relative;
  margin-top: 60px;
}

.overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.text-content {
  color: white;
  max-width: 500px;
  margin: 40px;
}

.text-content .subtext {
  font-size: 10px;
  opacity: 0.8;
  margin-bottom: 5px;
}

.text-content h1 {
  font-size: 25px;
  margin-bottom: 15px;
}

.cta-btn {
  background: white;
  color: black;
  padding: 8px 16px;
  border: none;
  border-radius: 25px;
  font-size: 10px;
  transition: 0.3s;
}