body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #ffe0fb;
}
button {
    background-color: #f8a6d6;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}
button:hover {
    background-color: #fa75d2;
}